#header {
    background-color:lightblue;
    color:black;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:black;
    height:500px;
    width:200px;
    float:right;
    padding:10px;	      
}
#section {
    width:1000px;
    float:left;
    padding:10px;	 	 
}
#footer {
    background-color:lightblue;
    color:black;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#myDiv {
    width: 600px;
    height: 80px;
    background-color: lightblue;
    border: 2px solid black;
    text-align: center;
    -ms-transform: rotate(10deg); 
    -webkit-transform: rotate(10deg); 
    transform: rotate(10deg); 
}
